# DO NOT INCLUDE TRAILING  slashes ('/')
DATA_DIR=~/PATH/TO/DATA
WORK_DIR=~/PATH/TO/CODE/oipm-public-access
OPSO_RELATIVE_DIR=OPSO/20210805_Simmons
BOOKINGS_FILENAME=JFI15M_Bookings.CSV
CHARGES_FILENAME=JFI15MC_Charges.CSV